@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --dark-blue: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --indigo-dye: hsl(215, 32%, 27%);
  --blue-yonder: hsl(216, 30%, 55%);
  --aqua: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
}
* {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}
body {
  background: var(--dark-blue);
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nft-card-component {
  padding: 25px;
  border-radius: 15px;
  max-width: 360px;
  background-color: hsl(216, 50%, 16%);
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card-image img {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.card-image::after {
  content: url(images/icon-view.svg);
  background: hsla(178, 100%, 50%, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.35s ease;
}

.card-image:hover::after {
  opacity: 1;
}
.card-image img {
  width: 100%;
  display: block;
}
.card-body {
  padding: 22px;
  border-bottom: 1px solid var(--indigo-dye);
  margin-bottom: 15px;
}
.card-title {
  color: var(--white);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-title h3:hover {
  color: var(--aqua);
}
.card-text {
  color: var(--blue-yonder);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price,
.card-countdown {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.card-price {
  color: var(--aqua);
}
.card-countdown {
  color: var(--blue-yonder);
}
.card-icon {
  margin-right: 6px;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card-authorimg {
  width: 36px;
  height: 36px;
  border: 1px solid var(--white);
  border-radius: 100%;
  margin-right: 15px;
}
.card-author-name {
  color: var(--blue-yonder);
  font-weight: 500;
}
.card-author-name a {
  color: var(--white);
  font-weight: 400;
}
.card-author-name a:hover {
  color: var(--aqua);
}
